*{
    margin: 0px;
    padding: 0px;
}
.cont{
    background-color: rgb(69, 68, 68) ;
    padding:10px ;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logop{
    height: 100px;
    width: 200px;

}
.menus{
    display: flex;
    list-style-type: none;
}
.items{
    margin: 10px;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
}
.items:hover{color: blueviolet;}
.banner-cont{
    display: flex;
    height:100vh;
    justify-content: space-around;
    align-items: center;
    color: rgb(204, 224, 93);
    background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20201026/pngtree-futuristic-shape-abstract-background-chemistry-technology-concept-for-website-image_438818.jpg');
    background-size: cover;
}
.banner-txt{
    /* margin:50px; */
}
.aa{

    font-size: 55px;
    font-weight: bolder;
}
#bb{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.btn{
    padding: 10px 20px;
    background-color: brown;
    color: aliceblue;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}
.btn:hover{color: rgb(101, 126, 167);}
.gg{
    font-size: 50px;
    text-align: center;
    margin-top: 18px;
}
.container{
    display: flex;
    padding: 15px;
    align-items: center;
    justify-content: space-around;
}

.rr{
    font-size: 25px;
}
.qq{
    margin: 10px 0px;
    font-size: 20px;
}
#oo{
    height: 400px;
    width: 300px;
}
.imgs{
    height: 55px;
    width: 55px;
    justify-content: center;
    padding-top: 10px;
    /* margin-top: 8px; */

}
.box{
    height: 260px;
    width: 240px;
    box-shadow: 4px 4px 15px rgb(164, 149, 149);
    margin: 20px;
    background-color: black;
    text-align: center;
    color: aliceblue;
    font-size: 18px;
}
.wd{
    padding: 5px;
}
.text{
    padding: 5px;
}
.btm{
    background-color: gray;
    margin-top: 8px;
}
.section-cont{
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color: rgb(10, 8, 8);
    padding:30px ;
}
.gt{
    background-color: rgb(10, 8, 8);
    padding-top: 20px;
    color: aliceblue;
}
.zz{
    height: 200px;
    width: 200px;
}
.logo{
    height: 40px;
    width: 180px;
}
.final-cont{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: aliceblue;
    background-color: black;
}
.zz{
    padding-top: 25px;
    text-align: justify;

}
.Ul{
    padding: 5px;
}
.sup{
    padding: 5px;
}
.vv{
    margin-bottom: 50px;
}
#ft{
    background: #000;
    color: aliceblue;
    text-align: center;
    padding-top: 30px;
}